*{
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
}

html, body{
    height: 100%;
    width: 100%;
}

/* Início da estilização da página de login */

.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #08749c, #27b6d2);
}

.secao{
    display: flex;
    background-color: white;
    height: auto;
    width:fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    color:grey;
    justify-content: left;
}
.secao .line{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(244, 242, 242);
    height: 50%;
    border-radius: 10px;
}
.secao h1{
  background-image: linear-gradient(to bottom,#065a78, #189ab4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 50px;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 15px;
    
}
.texto form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.texto form label{
    margin-top: 30px;
}
.texto form label:first-of-type {
    margin-top: 15px;
}
.texto form input{
    width: 80%;
    border-radius: 2px;
    border: 1px solid;
    border-color:  rgb(203, 203, 203);
    color:grey;
    height: 40px;
    padding-left: 5px;
    font-size: 16px;
}

.texto form span{
    margin-top: 10px;
    text-decoration: underline;
}
.texto form button{
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    width: 34%;
    color: azure;
    font-size: 16px;
    font-weight: bold;
    background: #189ab4;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.texto form button:hover{
    background-color:#065a78
}

#acessFail{
    display: none;
    color: rgb(246, 56, 56);
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}

/* Fim da estilização da página de login */

/* Início da estilização da home page*/
.homepage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px;
    border-color:darkgray;
    width: 100%;
    height: 20px;
    margin: 0px;
}
.nav1{
    display: flex;
    background-color: #065a78;
    color: white;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 10px;
    align-items: center;
}
.nav1 p{
    background-color: #05445b;
    padding: 20px;
}
.nav2{
    background-color: #f7f6f6;
    height: auto;
    padding: 5px 10px;
    color: #27b6d2;
}
.nav2 h2{
    font-weight: 500;
    font-size: 30px;
}
.nav3{
    background-color: #f6f6f6;
    padding: 30px;
    align-items: center;
    margin-bottom: 10px;
}
.nav3 h3{
    font-size: 30px;
    color: #27b6d2;
    font-weight: 500;
}

main{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 100%;
}

.faixa1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: 70px;
}
.faixa2{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 20%;
    margin-right: 70px;
}
.faixa3{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.homepage input{
    border: 1px solid rgba(128, 128, 128, 0.503);
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
}



.faixa1 select:nth-of-type(1){
    width: 14%;
    background-color: rgb(170, 170, 170);
    padding: 8px;
    color: black;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.503);
}

.faixa1 input{
    width: 20%;
}

.faixa2 input{
    width: 10%;
}
.faixa3 input{
    width: 10%;
}

.faixadupla{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.faixadupla1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.faixadupla1 label{
    margin-right: 30%
}

.faixadupla2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.faixadupla2 label{
    margin-right: 30%
}

.faixadupla input{
    margin-right: 10%
}